@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0d100f;
    --foreground: #fefefe;
    --primary: #db2500;
  }

  html {
    scrollbar-width: none;
  }

  body {
    @apply bg-background text-foreground min-h-screen overflow-x-clip;
  }

  h1 {
    @apply text-[10rem] uppercase;
  }

  span {
    @apply text-xs;
  }

  picture {
    @apply block relative;
  }

  img {
    @apply object-cover size-full;
  }
}
